body{
    background-image: url('https://static.dribbble.com/users/973926/screenshots/2547324/tubik_studio_page_404.png');
    background-repeat: no-repeat;
    background-size: 99%;
    /* fill-opacity: 10px; */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    justify-items: center;
    align-items: center;
    margin-top: 205px;

}

#pageerror{
    background-color: pink;
    box-sizing: border-box;
    border-radius: 20px;
    width: 60%;
    opacity: 0.95;
    display: flex 1 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* .error-message{

} */

.error-404 {
    font-size: 170px;
    text-align: center;
}