.progress-bar {
    font-size: 16px;
    position: absolute;
    top: 45%;
    margin: auto;
    height: 30px;
    width:30px;
    z-index:300000;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;   
    margin-left: 15px;
  }
  
.flex-it{
  display:flex;
  justify-content: center;
  width: auto;
}

.form-control{
  /* background-color: ; */
  width: auto;
  padding-top: 7px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-left: 10px;
}
.form-control:hover{
  color: #000 !important;
  background-color: #555 !important;
  transition: 0.2s;
}


  @media screen and (max-width: 575px) {
    .form-control {
      height: 50px;
      width:100px;
      margin-bottom: 5px;
      padding: 6px 0px 15px 10px;
      border: 0px;
    }
  }
  @media screen and (min-width: 576px) {
    .form-control {
      padding-top: 6px;
      padding-bottom: 15px;
      height: 50px;
      margin-right: 0px; 
    }
  }
  
  .form-switch {
    display: inline-block;
    cursor: pointer;
    color: #000;
    /* -webkit-tap-highlight-color: transparent; */
    margin: 2px 8px!important;
    text-transform: uppercase;
    -webkit-box-reflect: below 24px linear-gradient(transparent, #0555);
    opacity: 0.8;
  }
  .form-switch:hover{
    color: #fff;
  }
  
  .form-switch i {
    position: relative;
    display: inline-block;
    margin: 2px 3px;
    width: 46px;
    height: 26px;
    background-color: #c9c4c491;
    border-radius: 23px;
    vertical-align: bottom;
    transition: all 0.3s linear;
  }
    
    .form-switch i::before {
      content: "";
      position: absolute;
      left: 0;
      width: 42px;
      height: 22px;
      background-color: #fff;
      border-radius: 11px;
      transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
      transition: all 0.25s linear;
    }
    
    .form-switch i::after {
      content: "";
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      transform: translate3d(2px, 2px, 0);
      transition: all 0.2s ease-in-out;
    }
    
    .form-switch:active i::after {
      width: 28px;
      transform: translate3d(2px, 2px, 0);
    }
    
    .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
    
    .form-switch input { display: none; }
    
    .form-switch input:checked + i { background-color: #4BD763; }
    
    .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
    
    .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }