body{
	font-weight: bold;	
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('/media/beach_design 3.PNG');
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
	background-size: 120%;
	/* height: 100%; */
	background-position-y: 58px;
	opacity: 0.9;
	margin: 0px;
	/* background-color:rgba(0,0,0,0.9); */
}
body, html {
	height: 100%;
	margin: 0;
}

@media screen and (max-width: 768px){
	body{
	background-size: 445%
	}
}

hr{
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	margin-top: 2px;
}

#myVideo {
	position: fixed;
	z-index: -1;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
  }

  h1 {
    background-color: rgba(0,0,0,0.7);
	box-sizing: border-box;
	border-radius: 10px;
    box-shadow: 8px 6px 8px #333;
	border-radius: 5px;
	margin: 20px auto;
	width: 35% !important;
    padding: 8px;
    text-align: center;
    font-size: 25px;
	font-weight: bold;
  
/* 
	background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
    box-shadow: 8px 6px 8px #333;
    border-radius: 5px;
    margin: 30px 455px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 35%;
    box-sizing: border-box;
    box-shadow: 0px 12px 13px #000; */
  }
  
/* for normal access */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	/* padding: 2px 30px; */
	padding: 2px 30px;
}

#navbar-brand{
	text-decoration: none !important;
    font-size: 20px;
    color: #fff !important;
    padding: 5px;
    letter-spacing: 1px;
}

#navbar-brand:hover{
	text-decoration: none !important;
	background: transparent;
	box-shadow: 0 0 0 transparent;
	cursor: pointer;

}
/* This is Start Button */
#startbutton {
	width: auto;
	margin-left: 0px;
	padding-left: 40px;
    padding-right: 30px;
	color: #050801;
    line-height: 3px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 10px;
	transition: 0.2s;
	border: solid 1px #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0555);
}

#custom-container{
	text-decoration: none !important;
	color: #fff !important;
	margin-left: -8px;
	transition: 0.2s;
}
a:hover{
	display:inline-block;
	background-color: #555 !important;
	color: #fff !important;
}

#startbutton:hover{
	background-color: #555;
	opacity:0.8;
	color: #fff;
}


#startbutton.active{
	background: transparent;
	position: relative;
	left: 675px;
	padding-left: 40px;
    padding-right: 30px;

	/* top */
    padding: 0px 10px;
	box-shadow: 0 0 0px transparent;
}

@media screen and (max-width: 768px){
	#startbutton{
	width: 35%;
	line-height: 3px;
	padding-left: 40px;
    padding-right: 30px;
	}
}

#live-now{
	margin: 0; 
	font-size: 10px;
    padding: 8px 18px;
	text-align: center;
	color: #fff;
	position: relative;
    top: -22px;
}

@media screen and (max-width: 700px){
	#live-now{
	position: relative;
	top: -22px;
	margin: 0;
	}
}

#media-box {
	/* style="filter: blur(5px);" */
	padding: 18px 2px;
	display: block;
	width: 100%;
	height: 770px;
    border: 2px #333 solid;
    background-color: rgb(0,0,0,0.5);
}

/* This is WebCam in html 
need to scale up to fit the container*/
#videoElement {
	width: 125% !important;
	max-height: 600px !important;
}

@media screen and (max-width: 768px){
	#media-box{
		width: 96%;
		margin-left: 18px;
	}
	#videoElement{width: 600px!important;}
}



/* This is replace viedo-container when got click*/
#openCam{
    position: absolute;
	top:323px;
    left: 50px;
    width: 58%;
	z-index: 1;	
}

#facial-emoji-layer{
	position: relative;
}

/* .camFrame{
	position: absolute;
	background: #333;
    top: 220px;
    left: 42px;
    width: 58%;
    height: 640px;
    border: solid 2px #fff;
} */


@media screen and (max-width: 700px){
	#openCam{
	left: 305px;
	/* margin-left: 5px; */
	}
}

/* This is the first div */
.hd-div{
	margin: 35px auto;
	width: auto;
}
.hd-div.active{
	margin: 0;
	width: auto;
}

/* This is closebtn */
.svg-inline--fa{
	color:#fff;
	text-decoration: none;
	transition: 0.2s;}


.svg-inline--fa:hover{
	display: initial !important;
	color:#000;}

.popover{
	padding-top: 20px;
	font-size: 12px;
	color: #000 !important;
  }

#closebutton{
	position: relative;
    left: 688px;
    top: 8px;
	position: relative;
	margin-bottom: 0px !important;
	padding: 13px 15px;
    border-radius: 30px;
	width: 3%;
	overflow: none !important;
	text-decoration: none;
	background: rgba(0,0,0,.4);
	box-shadow: 0 20px 50px rgba(0,0,0,.6);
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0555);
	transition: 0.2s;
	z-index: 2;
}

#closebutton:hover{
	-webkit-box-reflect: none !important;
	display: initial !important;
	overflow: none !important;
	padding: 13px 15px;
	margin-bottom:0px !important;
} 

@media screen and (max-width: 768px){

	#openCam{
		margin-left: 5px;
	}
	#closebutton{
		position: relative;
		top: 20px;
		left: 323px;
		padding: 12px 13px;
	}
}

#deepMediaUsers-container {
    width: 70px;
    height: 70px;
	border-radius: 100px;
	background: rgba(0,0,0,.5);
    /* background: #000; */
    margin: auto 10px;
}
#you-are-user{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 70px;
	/* background: transparent; */
	}

/* #create-messages-form {	
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 455px;
} */

#create-messages-form{
	height: 95px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 455px;
	background-color: #333;
	opacity: 0.85;
	/* background-color: #666666; */
  }

  #create-messages-form.active{
	display: block;
	
}

.hover-context{
	font-size: 14px !important;
	color: #000;
}
@media screen and (max-width: 768px){
	#create-messages-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 620px;
	height: fit-content;
	border-radius: 10px;
	padding: 2px 12px;
	position: relative;
	right: 680px;
	top: 715px;
	}
}
/* 
#message-container{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: fit-content;
	top: 8px;
    left: 910px;
} */

/* #message-container-2{
	border: solid 1px orange;
	width: 90%;
	border-radius: 10px;
} */

#scrolly-messages-container{
	/* background-color: palegreen; */
	background-color: rgba(0, 0, 0, 0.2);
	width: 455px;
	max-height: 420px;
	/* border: 1px solid green; */
	margin: auto 0;
	overflow-y: auto;
	/* position: relative;
	right:25px;
  	top: 20px;  */
}

.comments{
    width: 455px;
    height: 90px;
	/* padding: 5px 15px; */
	padding: 0px 20px;
    /* background-color: pink; */
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0px;
	/* margin: 5px 0px; */
}

@media screen and (max-width: 768px){
	.comments{
	background-color: rgba(0, 0, 0, 0.55);
	margin: 5px 0px;
	width: 630px;
	height: 110px;
	padding: 5px 15px;
	border-radius: 15px;
	position: relative;
	right: 680px;
	top: 715px;
	}
}

.cm-areas{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 345px;
}

.cm-text{
    font-size: 16px;
    margin: 2px 25px;
}

.username{
	width: 17%;
	color: #fff;
	font-size: 18px;
    background: rgba(0,0,0,.4);
    border-radius: 35px;
    text-align: center;
	padding: 22px 20px;
    margin-right: 10px;
}
.user-icon{
	width: 17%;
    background: rgba(0,0,0,.4);
    border-radius: 35px;
    text-align: center;
	padding: 18px 20px;
	/* padding: 22px 20px; */
    margin-right: 10px;
}

.status{
	background-color: rgba(255, 255, 255, 0.699);
	width: 320px;
	padding: 8px 8px;
	border-radius: 5px;
}
@media screen and (max-width: 768px){
	.user-icon{
	width: 12%;
	padding: 18px 22px;
	}
	.status{
	width: 505px;
	padding: 12px 25px;
	border-radius: 5px;
	}
}

/* .send-messages-button{
	font-size: 15px;
    width: 18%;
    text-align: center;
	padding: 12px 10px;
	margin: auto 10px;
	} */

	/*log in verion*/
.send-messages-button {
    font-size: 15px;
    width: 11%;
    text-align: center;
    padding: 5px 0px;
    margin: 0 8px;
    margin-bottom: 18px;
    border-radius: 5px;
}
		  

/* .send-messages-input{
	margin: 5px;
	min-width: 300px !important;
} */

/* Login version */
.send-messages-input {
    margin: auto 1px;
    min-width: 285px !important;
}
/* #newMessagesContainer{
    width: 455px;
    height: 92px;
    border: solid 1px orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 0;
} */
/* login version */
#newMessagesContainer{
    width: 455px;
	height: 95px;
    border: solid 1px orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: ; */
/* 	  padding-bottom: 15px;
	  padding-left: 10px;
	  padding-right: 0;
	   */
}

@media screen and (max-width: 768px){

	.send-messages-button{
	font-size: 15px;
	width: 20%;
	text-align: center;
	padding: 10px 10px;
	}

	#newMessagesContainer {
	width: 455px;
	height: 95px;
    border: solid 1px orange;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 0;
	}
}

/* p.varchar{
    position: relative;
	left: 360px;
	top: -28px;
	margin-top: 3px;
} */
/* login in version */
p.varchar {
	position: relative;
    left: 387px;
    top: -37px;
    font-size: 14px;
}
.btn-light{
    padding: 4px 18px;
    position: relative;
	left: 140px;
	background:transparent;
    margin-bottom: 5px;
    color: #fff;
}

#showChat{
	padding: 4px 18px;
    position: relative;
	left: 140px;
	background:transparent;
    margin: 5px auto;
    color: #fff;

}
/* #newArrow, */
#altArrow,.fa-arrow-circle-down{
    position: absolute;
    bottom: 136px;
    font-size: 40px;
    left: 240px;
    color: #007bff;
    background: transparent;
    opacity: 0.85;
}




@media screen and (max-width: 768px){
	p.varchar{
		position: relative;
		left: 90px;
		top: 15px;
		margin: 0 5px;
		color: #000;
	}

.btn-light{
	padding: 10px 150px;
    position: relative;
    left: 53px;
    top: 10px;
	background:rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    border-radius: 10px;
    color: #fff;
	margin-top: 8px;    
	}

	.fa-paper-plane{
	color: #000;
	}
}


/* madia buttons group */
#main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
	position: absolute;
    left: 125px;
    top: 965px;
}

#clearAll{
margin: 0 115px;
padding: 5px 10px;
position: relative;	
top: 12px;
}


#openbtn,#btnStart{
	position: relative;
	left: 15px;
	bottom: 77px;
	margin: 5px;
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	transition: margin-left 0.2s;
	opacity: 0.8;
}

#capture,#btnStop{
	position: relative;
	left: 15px;
	bottom: 80px;
    margin: 5px;
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	transition: margin-left 0.2s;
	opacity: 0.8;
	color: #666666 !important;
}

#capture.active,#btnStop.active{
	color: #fff !important;
}

#openbtn:hover,#capture:hover,#btnStart:hover,#btnStop:hover {
	opacity: 0.9;
	background-color: #000;
  }

.btn.focus, .btn:focus {
    outline: 0;
	box-shadow: none !important;
}
	
.blink_text {
 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: 5;
}

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.5; }
 100% { opacity: 1.0; }
}