body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

* {box-sizing: border-box;}

input{width: 245px;}

#login-text{
    display: inline;
    color: #fff;
    display: block;
    font-weight:bold;
    background: rgb(0, 0, 0);
    /* background: rgb(255, 255,255, 0.8); */
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

/* background: rgba(37, 155, 235);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 285px;
    border-radius: 5px;
    transition: 0.2s; */
    
  /* Sign In button*/
.open-button {
    background: rgba(37, 155, 235);
    font-size: 18px;
    font-weight:bold;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 285px;
	  border-radius: 5px;
	  transition: 0.2s;
}
  

.open-button:hover{
    /* background: rgba(37, 155, 235, 0.9); */
    background-color: #555;
    color: #fff;
    opacity: 1;
	  box-shadow: 0 0 0 transparent;
	  border-radius: 5px;
	  text-decoration: none;

}

  /* The popup form - hidden by default */
  .form-popup {
    border-radius: 5px;
    position: absolute;
    top: 56px;
    right: 29px;
    /* border: 1px solid #f1f1f1; */
    /* background: rgb(255, 255,255, 0.8); */
    background: rgb(0, 0, 0, 0.9);
    z-index: 2;
    width: 287px;
    text-align: center;
}
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

#loginForm{
  display: none;
}

.loginBtn, .closeBtn{
    margin: 5px 5px;
}

.loginBtn{
    color: white;
    font-weight:bold;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 92%;
    margin-top: 15px;
    margin-bottom: 5px;
    opacity: 0.9;
    z-index: 10;
    transition: 0.2s;
}

.closeBtn{
    background-color: #4CAF50;
    color: white;
    font-weight:bold;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 92%;
    margin-bottom: 25px;
    opacity: 0.8;
    transition: 0.2s;
    z-index: 10;
}

.form-container .loginBtn:hover, .closeBtn:hover {
    opacity: 1 !important;
    color: #000 !important;
  }

label{
    margin: 8px !important;
}

.logout {
  /* background-color: seagreen; */
  background-color: rgb(67, 189, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  max-height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  margin-right: 14px;
  color: white;
}



.logout:hover{
  background-color: #4CAF50;
  /* rgb(67, 189, 179) !important; */
  text-decoration: none;
  transition-duration: 1s;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}

#signInNow{
  display:flex;
  justify-content: center;
  align-items: center;
  /* margin: 1px 0px; */
  /* padding: 11px; */
  margin: 2px 0px;
  padding: 12px;
}

#signInNow.active{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto 12px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

#container {
	width: 55px;
    height: 55px;
    border-radius: 100px;
    background: #000;
	}

	#name {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 58px;
	}
