body{font-family: Arial, Helvetica, sans-serif;}

img {
    vertical-align: baseline;
    border-style: none;
}

h3{
	color: #fff;
	text-align: center;
	letter-spacing: 1.5px;
}

#deepMediaUser{
  text-transform: uppercase;
}

#screencap, .new{
    margin: 10px 35px;
	/* width: 300px;
    height: 145px; */
}
#canvas{
	position: relative;
	margin-left: 8px;
}

  @media screen and (max-width: 768px){
	#canvas{
	position: relative;
	/* top: 720px;
	left: -90px; */
	}
  }

.divDeco{
  border: solid 1px orange;
  width: 455px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 923px;
  top: 20px;
    }

@media screen and (max-height: 768px) {
  /* .divDeco{
    border: solid 1px orange;
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 213px;
    top: 726px;
  } */

 
  /* #signInContainer > form > input{
    width: auto;
    height: fit-content;
  } */

  input#hide{display: none;}
  input#show {display: none;}
    
  label#hide,label#show {
    cursor: pointer;
    -webkit-transition: background-color 0.1s, color 0.1s;
    margin: 5px !important;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    color: #000 !important;
  }
  
  label#hide:hover, label#show:hover{
    color: #fff !important;
  }

  .test {
    -webkit-transition: height .10s ease;
      /* height: 0; */
      /* overflow: hidden; */
      width: 35%;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      left: 2px;
      top: 0px;
    }
    
    input:checked + .test {
    height: fit-content;
    }
  
}


input#show {
	display: none;
  }
  
label#show {
    cursor: pointer;
    -webkit-transition: background-color 0.1s, color 0.1s;
    margin: 5px !important;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
  }

  label#show:hover {
	/* background: #33CC00; */
	color: #000;
  }
  

  .test {
	/* -webkit-transition: height .10s ease; */
    height: 0;
    overflow: hidden;
    width: 35%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: -3px;;
    left: 904px;
  }
  
  input:checked + .test {
	height: fit-content;
  }

  input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: none !important;
    box-sizing: border-box;
    margin: 0;
    padding: initial;
    border: initial;
    }

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-radius: 10px;
  }


  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 36px;
	margin-left: 50px;

  }

  .fas .fa-video{color: #000 !important;}
  
  .svg-inline--fa {
    color: #fff;
    
    text-decoration: none;
    transition: 0.2s;
}
  .svg-inline--fa:hover{
    transition-duration: 1s;
    color: #000;
    opacity: 0.8;
    text-decoration: none;
  }

  #openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	transition: 0.2s;
	}
  
  #openbtn:hover {
	background-color: #111;
  }
  
  #main {
	transition: margin-left .2s;
	padding: 16px;
  }

  #closetimers{
	cursor: pointer;
	color: #fff}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }


video#vid1{
    width: 865px;
    height: 575px;
    top: -25px;

}
@media screen and (max-width: 768px){
	video#vid1{
	width: 585px;
	height: 560px;
	}
}

video#vid2 {
    width: 260px;
	height: 220px;
	/* display: none; */
	margin: 10px 30px;
	/* border: solid #fff 1px; */
}

#signInContainer{
  display:flex;
}

